*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/main
/api

.env
.env.*
*.local

vendor/
go.work
go.work.sum

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
ehthumbs.db
Desktop.ini
logfile
*.log

firebase-adminsdk.json